@page "/agregarpersona"
<div class="row">
    <div class="col">
        <FormularioPersona></FormularioPersona>
    </div>
    <div class="col">
        <FormularioUsuario></FormularioUsuario>
    </div>
</div>
